/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
  background-color: var(--background-color);
  color: var(--text-color);
}

a { text-decoration: none; }
button { font-family: inherit; }